<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206745043187-c3lcli7potg82icl1g38qtbn4hv6tlpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206745043187-c3lcli7potg82icl1g38qtbn4hv6tlpg</string>
	<key>API_KEY</key>
	<string>AIzaSyDNVu5L8lqCfGnifz49rxTT8R_K64EIQZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>206745043187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmeterkut.Pet-Reminder</string>
	<key>PROJECT_ID</key>
	<string>evcil-hayvanim</string>
	<key>STORAGE_BUCKET</key>
	<string>evcil-hayvanim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206745043187:ios:2b6c98021cfc168a22f786</string>
	<key>DATABASE_URL</key>
	<string>https://evcil-hayvanim-default-rtdb.firebaseio.com</string>
</dict>
</plist>